button{
  margin: 20px;
  border-radius: 13px;
  padding: 13px;
  color: aliceblue;
  outline: none;
  width: 100px;
  cursor: pointer;
  border: none;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.gray{
  color: gray;
}
.purple{
  background-color: purple;
}